.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc

# ignore just in case hpp,o, or exe not cleaned up in tests/
*.hpp
*.o
*.exe
tests/testthat/resources/stan/bernoulli
tests/testthat/resources/stan/bernoulli_include
tests/testthat/resources/stan/logistic
