/bernoulli
/bernoulli_external
/bernoulli_fp
/bernoulli_include
/bernoulli_log_lik
/bernoulli_ppc
/bernoulli_threads
/chain_fails
/divide_real_by_two
/fail
/info_message
/init_warnings
/logistic
/logistic_profiling
/schools

